@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css');
@import url('https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css');

:root {
    /* Palette */
    --primary-solid: #FF3333;
    --primary-900: rgba(255,51,51,0.9);
    --primary-500: rgba(255,51,51,0.5);
    --primary-300: rgba(255,51,51,0.3);

    --secondary-solid: #1D84B5;
    --secondary-900: rgba(29, 132, 181, 0.9);
    --secondary-500: rgba(29, 132, 181, 0.5);
    --secondary-300: rgba(29, 132, 181, 0.3);

    --dark-solid: #1F1F1F;
    --dark-900: rgba(31,31,31,0.9);
    --dark-500: rgba(31,31,31,0.5);
    --dark-300: rgba(31,31,31,0.3);

    --dark-bg-solid: #30343F;
    --light-bg-solid: #FAFAFF;
    --light-font-solid: #FFFFFF;
    --light-grey-solid: #747474;

    /* Typography */
    --base-font: 'Inter', sans-serif;
    --alternative: 'Raleway', sans-serif;

    /* Font-sizes */
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.4em;

    /* Spacings */
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
    --spacing-4: 0.4rem;
    --spacing-2: 0.2rem;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html{
    font-size: 62.5%;
    font-family: var(--base-font);
    color: var(--dark-solid);
  }

  body{
    font-family: var(--alternative);
    min-height: 100vh;
    margin: 0 auto;
  }

  ul, ol{
    list-style: none;
    padding-left: 0;
  }

  a{
    text-decoration: none;
    font-family: inherit;
    color: inherit;
  }

  img{
    width: 100%;
  }

  button{
    cursor: pointer;
    border: none;
  }

  .button__group{
    display: flex;
    flex-direction: column;
    gap: .22rem;
  }

  header, 
  footer{
    font-family: var(--alternative);
    color: var(--light-font-solid);
  }
  
  .container{
    max-width: 1200px;
    margin: 0 auto;
  }

  ::placeholder {
    color: #B9B9B9;
    opacity: 1;
  }

  .error__container{
    font-family: var(--base-font);
    padding: var(--spacing-16) var(--spacing-68);
  }

  .error-text {
    color: var(--primary-900);
    font-size: var(--font-medium);
    font-weight: 700;
  }

  .error-title{
    color: var(--primary-solid);
    text-align: center;
    font-size: var(--font-xlarge);
    margin-bottom: var(--spacing-16);
  }

  .error-texts{
    font-size: var(--font-medium);
  }

  .error-textarea{
    width: 80%;
    height: 100px;
    margin: 20px auto;
    padding: 10px;
  }

  .error-link{
    font-size: var(--font-small);
  }

  /*******  TERMINOS Y CONDICIONES   *****/
  .terminosCondiciones{
    font-size: var(--font-medium);
  }
  
  .terminosCondiciones__title{
    font-weight: 700;
  }
  
  .terminosCondiciones__item{
    margin-top: var(--spacing-20);
  }

  /*******  HEADER   *****/
  
  header{
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-36);
  }
  
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;    
  }

  .navbar__logo{
    max-width: 300px;
  }

  .navbar__menu{
    display: flex;
    align-items: center;
    gap: var(--spacing-20)
  }

  .navbar__item{
    position: relative;
  }

  .navbar__link{
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition: background .3s ease-in-out;
  }

  .navbar__link:hover{
    background-color: var(--primary-900);
  }

  .with_icon{
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
  }

  .submenu{
    position: absolute;
    background-color: var(--dark-bg-solid);
    left: 0;
    display: none;
    width: 300px;
    z-index: 10;
  }

  .submenu__link{
    display: block;
    padding: var(--spacing-8) var(--spacing-16);
    font-size: var(--font-medium);
    transition: background .3s ease-in-out;
  }

  .submenu__link:hover{
    background-color: var(--primary-900);
  }

  .with_submenu:hover .submenu{
    display: block;
  }

  .icon{
    display: none;
    cursor: pointer;
    font-size: var(--font-medium);
  }

  /*******  FOOTER   *****/
  
  footer{
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-68);
  }

  .footer__copy{
    text-align: center;
    margin-top: var(--spacing-36);
  }

  /******* 404  *******/
  .no-find-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 3em;
    padding: var(--spacing-128) 0;
  }

  .no-find-title{
    text-align: center;
    font-size: var(--font-jumbo);
  }

  .no-find-text{
    font-size: var(--font-small);
  }

  /*******  INDEX   ******/
  .hero{
    background-image: url(../img/funkos-banner.webp);
    padding: var(--spacing-128);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    position: relative;
    /*z-index: -1;*/
  }

  .hero::before{
    content: '';
    background-color: rgba(0,0,0, 0);
    width: 100%;
    height:100%;
    position:absolute;
    top:0;
    left: 0;
    backdrop-filter: blur(2px) brightness(.9);
  }

  .hero__content{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
    align-items: start;
    z-index: 2;
    position: relative;
  }

  .hero__title{
    font-family: var(--alternative);
    font-size: var(--font-jumbo);
    color: var(--light-font-solid);
  }

  .hero__text{
    font-family: var(--alternative);
    color: var(--light-font-solid);
    font-size: var(--font-medium);
  }

  .hero__link{
    display: inline-block;
    font-size: var(--font-medium);
    background-color: var(--light-bg-solid);
    padding: var(--spacing-12) var(--spacing-68);
    border-radius: 50px;
    font-weight: 500;
    /* transition: all .3s ease-in-out; */
    transition: background .3s ease-in-out;
    cursor: pointer;
  }

  .hero__link:hover{
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
  }

  .index-container{
    padding: var(--spacing-12);
  }

  .collection{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .collection:nth-child(2) .collection__cover{
    order: -1;
  }

  .collection__content{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
    align-items: start;
  }

  .collection__title{
    font-family: var(--alternative);
    font-size: var(--font-display);
    font-weight: 500;
  }

  .collection__text{
    font-family: var(--alternative);
    font-size: var(--font-large);
    font-weight: 300;
    border-bottom: 2px solid var(--primary-solid);
    padding-bottom: var(--spacing-20);
  }

  .collection__link{
    background-color: var(--dark-bg-solid);
    display: inline-block;
    font-size: var(--font-medium);
    color: var(--light-bg-solid);
    padding: var(--spacing-16) var(--spacing-36);
    border-radius: 50px;
    font-weight: 500;
    transition: background .3s ease-in-out;
  }

  .collection__link:hover{
    background-color: var(--primary-solid);
  }

  /*******  ITEM   ******/
  .item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .item__content{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
    font-family: var(--base-font);
  }

  .item__cover{
    display: flex;
    justify-content: center;
  }

  .item__cover img{
    width: 80%;
  }

.item__cover__front img{
  animation: fade .7s;
}

.item__cover__back{
display: none;
}

.item__cover:hover .item__cover__back{
  display: block;
}

.item__cover:hover .item__cover__front{
  display: none;
}

  .item__licence{
    font-weight: 500;
    text-transform: uppercase;
    font-size: var(--font-small);
  }

  .item__title{
    font-weight: 700;
    text-transform: uppercase;
    font-size: var(--font-jumbo);
  }

  .item__text{
    font-size: var(--font-large);
  }

  .item__price{
    font-size: var(--font-jumbo);
  }

  .item__promo{
    font-size: var(--font-xsmall);
    color: var(--secondary-solid);
    font-weight: 700;
  }

  .item__promo a{
    text-decoration: underline;
  }

  .item__cart{
    display: flex;
    gap: var(--spacing-16);
  }

  .item__quantity{
    padding: var(--spacing-2) var(--spacing-8);
    background: var(--dark-bg-solid);
    color: var(--light-bg-solid);
    cursor: pointer;
  }

  .item__submit{
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-12) var(--spacing-24);
    font-size: var(--font-xsmall);
    transition: background .3s ease-in-out;
    cursor: pointer;
    border: none;
  }

  .item__submit:hover{
    background-color: var(--dark-bg-solid);
  }

  .item__input{
    text-align: center;
    font-size: var(--font-medium);
    max-width: 100px;
  }
  
/* ITEM SLIDER */
.slider{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-36);
  margin: var(--spacing-68) auto;
}

.slider__title{
  font-family: var(--alternative);
  font-size: var(--font-display);
  text-transform: uppercase;
  font-weight: 700;
}

.slider__items{
  display: flex;
  gap: var(--spacing-24);
  justify-content: space-between;
}

.slider__arrow{
  color: var(--dark-bg-solid);
  font-size: var(--font-small);
  font-weight: 700;
}

.glide__arrow--left{
  left: 0;
}

.glide__arrow--right{
  right: 0;
}

.card-item{
  padding: var(--spacing-16);
}

.card-item__content{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-12);
}

.card-item__licence{
  font-size: var(--font-xsmall);
  font-weight: 500;
  text-transform: uppercase;
}

.card-item__name{
  font-size: var(--font-medium);
  font-weight: 700;
}

.card-item__price{
  font-size: var(--font-small);
}

.card-item__promo{
  font-size: var(--font-xsmall);
  color: var(--secondary-solid);
  font-weight: 700;
}

.card-item__cover{
  display: flex;
  position: relative;
}

.card-item__img__front,
  .card-item__img__back{
    width: 90%;
  }

.card-item__cover img{
  animation: fade .7s;
}

.card-item__img__back{
display: none;
}

.card-item__cover:hover .card-item__img__back{
  display: block;
}

.card-item__cover:hover .card-item__img__front{
  display: none;
}

.card-item__tag{
  color: var(--light-font-solid);
  background-color: var(--primary-solid);
  font-size: var(--font-xsmall);
  text-transform: uppercase;
  padding: var(--spacing-8) var(--spacing-12);
  position: absolute;
  right: 0;
  font-weight: 700;
}

/*******  CREATE   *****/
.create-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 3em;
  padding: 4em 0;
}

.create-title{
  font-size: var(--font-xlarge);
  padding-bottom: 0.5em;
}

.create-form {
  font-family: var(--base-font);
  display: flex;
  row-gap: var(--spacing-24);
  flex-direction: column;
}

.create-label {
  font-size: var(--font-medium);
}

.create-characteristic{
  display: flex;
  gap: var(--spacing-68);
  align-items: center;
}

.create-item{
  gap: var(--spacing-16);
  display: flex;
  align-items: center;
}

.create-form select{
  border-radius: 0.3em;
  border: 2px solid;
  width: 15em;
  padding: var(--spacing-8);
  font-size: var(--font-xsmall);
}

.create-form option:hover{
  background-color: var(--primary-solid);
  color: var(--light-font-solid);
}

.create-text {
  border: none;
  border-bottom: solid 2px var(--primary-solid);
  font-size: var(--font-medium);
}

.create-actions{
  gap: var(--spacing-16);
  display: flex;
  margin-bottom: 5em;
}

.create-link{
  background-color: var(--primary-solid);
  display: inline-block;
  font-size: var(--font-small);
  color: var(--light-font-solid);
  cursor: pointer;
  padding: var(--spacing-12) var(--spacing-24);
  border: none;
  min-width: 10em;
  font-weight: 300;
  transition: background .3s ease-in-out;
}

.create-link:hover{
  background-color: var(--dark-bg-solid);
}

#stock, #discount{
  text-align: center;
  width: 4em;
}

.create-description textarea{
  padding: 1em;
  font-size: var(--font-medium);
  width: 100%;
}


/*******  EDIT   *****/
.edit-form{
  font-family: var(--base-font);
  display: flex;
  row-gap: var(--spacing-24);
  flex-direction: column;
}

.edit-package__container{
  display: flex;
  gap: var(--spacing-36);
  align-items: center;
  width: 30%;
}

.edit-cover{
  border-bottom: solid 2px var(--primary-solid);
}

.edit-form figcaption{
  font-size: var(--font-medium);
    text-align: center;
    padding-top: 0.5em;
}

.edit-form select{
  border-radius: 0.3em;
  border: 2px solid;
  width: 15em;
  padding: var(--spacing-8);
  font-size: var(--font-xsmall);
}

.edit-form option:hover{
  background-color: var(--primary-solid);
  color: var(--light-font-solid);
}

/*******  CARRITO   *****/

.carrito-title {
  display: inline-block;
  font-size: var(--font-display);
  border-bottom: solid 5px var(--primary-solid);
  padding-bottom: var(--spacing-8);
}

.carrito-container{
  margin-top: var(--spacing-36);
}

.carrito__content {
  display: grid;
  grid-template-columns: 4fr 2fr 2fr 1fr;
  gap: 5px;
  padding: var(--spacing-24) var(--spacing-28);
  place-items: center;
  margin: var(--spacing-24) auto;
  background-color: var(--light-bg-solid);
  border-style: 5px solid var(--light-bg-solid);
  border-radius: 15px;
  box-shadow: 0 0 var(--spacing-16) rgba(128, 128, 128, 0.4);
}

.carrito__content-title {
  text-transform: uppercase;
  font-size: var(--font-large);
  margin-top: var(--spacing-36);
}

.carrito__content-column {
  font-weight: 700;
  font-family: var(--base-font);
}

.carrito__item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: space-evenly;
  justify-items: start;
  align-items: center;
}

.carrito__item-quantity{
	display: flex;
  gap: var(--spacing-8);
  justify-content: center;
  align-items: center;
}

.carrito_item-quantity_field{
	width: 45%;
  height: var(--spacing-36);
  padding: var(--spacing-8);
}

.carrito_item-quantity_buttons{
	display: flex;
  flex-direction: column;
}

.carrito_item-quantity_buttons button{
	  background-color: transparent;
    border: none;
}

.carrito__item-price{
  font-weight: 400;
  font-size: var(--font-xsmall);
  font-family: var(--base-font);
}

.carrito__description {
  padding: var(--spacing-24);
}

.carrito__description-title {
  font-size: var(--font-large);
  text-transform: uppercase;
}

.carrito__description-text {
  font-size: var(--font-medium);
  text-transform: uppercase;
  padding: var(--spacing-8) 0;
}

.carrito__description-price {
  font-size: var(--font-medium);
  padding-top: var(--spacing-12);
}

.carrito__trash {
  padding: var(--spacing-8) var(--spacing-8);
  border: none;
  background-color: transparent;
}

.carrito_item-quantity_buttons .fa-square-minus:before,
.carrito_item-quantity_buttons .fa-square-plus:before{
  font-size: var(--font-xsmall);
}

.pay__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: var(--spacing-68) auto;
}

.pay__title {
  display: inline-block;
  font-size: var(--font-display);
  border-bottom: solid 5px var(--primary-solid);
  padding-bottom: var(--spacing-12);
}

.pay__checkout {  
  grid-column: 2 / 3;
  row-gap: var(--spacing-16); 
  text-align: right; 
}

.pay__button {
  grid-column: 2 / 3;
  font-size: var(--font-medium);
  text-transform: uppercase;
  text-align: center;
  color: var(--light-font-solid);
  background-color: var(--primary-solid);
  padding: var(--spacing-16) var(--spacing-12);
  margin-top: var(--spacing-36);
}

.pay__link {
  display: inline-block;
  font-weight: 700;
  font-family: var(--alternative);
  font-size: var(--font-medium);
  color: var(--light-bg-solid);
  padding: var(--spacing-8) var(--spacing-8);
}

.pay__button:hover {
  background-color: var(--dark-bg-solid);
  color: var(--light-font-solid);
  transition: background .3s ease-in-out;
}

.pay__content {
  margin: var(--spacing-28) auto;
  display: flex;
  flex-flow: column wrap;
  font-size: var(--font-large);
  text-transform: uppercase;
  background-color: var(--light-bg-solid);
  border-style: 5px solid var(--light-bg-solid);
  border-radius: 10px;
  box-shadow: var(--spacing-4) var(--spacing-4) var(--spacing-20) lightgray;
  padding: var(--spacing-24);
}

.pay__content-line {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: var(--spacing-12);
  font-weight: 600;
  font-family: var(--base-font);
}

.pay__content-line p:nth-child(2) {
  color: var(--light-grey-solid);
}

.total-line{
  border-top: var(--spacing-4) solid red;
  margin-top: var(--spacing-12);
}


/*******  SHOP   *******/

.shop-container {
  display: flex;
  justify-content: flex-start;
  padding: var(--spacing-12);
  margin-top: var(--spacing-36); 
}

.shop-aside {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24);
  justify-content: flex-start;
  align-items: flex-start;
  /*max-width: 30vw;*/
}

.aside__form {
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacing-16);
}

.aside__items{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-20);
}

.aside__item-search input,
.aside__item-order select{
  width: 100%;
}

.aside__item {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
  align-items: flex-start;
  text-transform: uppercase;
  font-size: var(--font-xsmall);
  font-family: var(--base-font);
  font-weight: 500;
}

.aside__item h3{
  font-weight: 500;
}

.aside__item input, .aside__item select{
  border: 2px solid;
  border-radius: 6px;
  padding: 8px;
}

.aside__input-small {
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-between;
  align-items: flex-start;
}

.aside__input-small input {
  width: 20%;
  text-align: center;
  padding: var(--spacing-2) var(--spacing-12);
  align-items: center;
}

.aside-filtrar {
  display: inline-block;
  padding-left: var(--spacing-8); 
}

.aside-filtrar input {
  margin-top: var(--spacing-8);
  }

.aside-filtrar label {
  padding: var(--spacing-2) 0;
  display: block;
}

.shop-collection {
  padding: 0 var(--spacing-16);
}

.grid__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: var(--spacing-36) var(--spacing-12);
}

.grid__item {
  display: flex;
  flex-direction: column;
}

.card-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.card-item__link-content {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: repeat(2, 1fr)
}

.card-item__cover {
  display: flex;
  position: relative;
}

.card-item__tag {
  font-size: var(--font-xsmall);
  text-transform: uppercase;
  background-color: var(--primary-solid);
  color: var(--light-bg-solid);
  padding: var(--spacing-8) var(--spacing-12);
  position: absolute;
  right: 0;
}

.card-item__cover img {
  animation: fade .7s;
}

.card-item__img__back {
  display: none;
}

.card-item__cover:hover .card-item__img__back {
  display: block;
}

.card-item__cover:hover .card-item__img__front {
  display: none;
}

.card-item__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-12);
  padding: var(--spacing-16);
}

.card-item__licence {
  font-size: var(--font-xsmall);
  font-weight: 500;
  text-transform: uppercase;
}

.card-item__name {
  font-size: var(--font-medium);
  font-weight: 700;
}

.card-item__price {
  font-size: var(--font-small);
  font-weight: 500;
}

.card-item__promo {
  font-size: var(--font-xsmall);
  color: var(--secondary-solid);
  font-weight: 700;
}

.shop-collection form {
  text-align: center;
  margin: var(--spacing-24) auto;
  padding: var(--spacing-8);
}

.filter-icon{
  text-align: right;
  display: none;
 }

 .aside__filter-button{
  background-color: var(--primary-solid);
  display: inline-block;
  font-size: var(--font-xsmall);
  color: var(--light-font-solid);
  cursor: pointer;
  padding: var(--spacing-12) var(--spacing-24);
  border: none;
  font-weight: 300;
  transition: background .3s ease-in-out;
 }


/*******  LOGIN   *****/
.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 3em;
  padding: 4em 0;
}

.login-title{
  text-align: center;
  font-size: var(--font-jumbo);
}

.login-form{
  font-family: var(--base-font);
}

.login-item{
  padding-bottom: 3em;
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-36);
  align-items: center;
}

.login-label{
  font-size: var(--font-small);
}

.login-text{
  padding: var(--spacing-8);
  font-size: var(--font-small);
  border: none;
  border-bottom: solid 2px var(--primary-solid);
}

.login-actions{
  justify-content: center;
  display: flex;
  gap: var(--spacing-36);
  align-items: center;
}

.login-link{
  background-color: var(--primary-solid);
  display: inline-block;
  font-size: var(--font-small);
  color: var(--light-font-solid);
  cursor: pointer;
  padding: var(--spacing-12) var(--spacing-24);
  border: none;
  min-width: 100px;
  font-weight: 300;
  transition: background .3s ease-in-out;
}

.login-link:hover{
  background-color: var(--dark-bg-solid);
}

.login-remember{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-8);
}

.login-recovery a{
  color: var(--secondary-900);
  font-size: var(--font-xsmall);
}

/*******  REGISTER   *****/
.register-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 3em;
  padding: 5em 0;
}

.register-title{
  text-align: center;
  font-size: var(--font-jumbo);
}

.register-subtitle{
  font-size: var(--font-large);
  font-weight: 400;
}

.register-form {
  font-family: var(--base-font);
}

.register-item {
  padding-bottom: 3em;
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-36);
  align-items: center;
}

.register-actions{
  justify-content: center;
  display: flex;
  gap: var(--spacing-36);
  align-items: center;
}

.register-label {
  font-size: 16px;
}

.register-text {
  padding: 5px;
  font-size: 14px;
  border: none;
  border-bottom: solid 2px var(--primary-solid);
}

.register-submit{
  background-color: var(--primary-solid);
  display: inline-block;
  font-size: var(--font-small);
  color: var(--light-font-solid);
  cursor: pointer;
  padding: var(--spacing-12) var(--spacing-24);
  border: none;
  min-width: 100px;
  font-weight: 300;
  transition: background .3s ease-in-out;
}

.register-submit:hover{
  background-color: var(--dark-bg-solid);
}

.register-terminos__text{
  font-size: var(--font-small);
}

.register-terminos__link{
  color: var(--secondary-900);
  cursor: pointer;
}

/*******  ADMIN   *****/
.admin__container{
  font-family: var(--base-font);
  padding: var(--spacing-16) var(--spacing-68);
}

.fa-pen:before {
  color: var(--secondary-900);
  padding: 0 var(--spacing-36);
}

.fa-trash-can:before {
  color: var(--primary-solid);
}

.fa-square-plus:before, .fa-square-minus:before {
  color: var(--primary-solid);
  font-size: var(--font-xsmall);
}

.fa-circle-xmark:before {
  color: var(--primary-solid);
  font-size: var(--font-medium);
}

i.fa-solid.fa-magnifying-glass.fa-2xs {
  font-size: var(--font-large);
}

.search-product__container{
  display: flex;
  align-items: center;
  padding: var(--spacing-36) 0;
}

.search-product__input{
  margin-left: var(--spacing-28);
  padding: 0.6em;
  border-radius: 5px;
  width: 40%;
  font-size: var(--font-xsmall);
  font-weight: 500;
}

.product__table{
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns: 
    minmax(60px, 0.5fr) 
    minmax(100px, 1fr) 
    minmax(150px, 2fr)
    minmax(100px, 1fr) 
    minmax(150px, 0.5fr);
  padding: var(--spacing-24) 0;
  text-align: left;
}

.product__table__head, .product__table__body, .product__table__row {
  display: contents;
}

.product__table__th, .product__table__data {
  padding: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.add-product__title{
  font-size: var(--font-xlarge);
}

.product__table__actions{
  text-align: right;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.product__table__actions button{
  border: none;
  background-color: transparent;
}

.fa-pen:before, .fa-trash-can:before{
  font-size: var(--font-small);
}

.fa-square-plus:before{
  font-size: var(--font-large);
}

.add-product__container{
  display: flex;
  justify-content: space-between;
}

.add-product__button-container{
  display: flex;
  align-items: center;
}

.add-product__legend{
  font-size: var(--font-large);
  padding: 0 var(--spacing-16);
  font-weight: 700;
}

.product__table__th {
  font-size: var(--font-medium);
  text-align: left;
  line-height: var(--spacing-36);
}

.product__table__data {
  font-size: var(--font-medium);
  font-weight: 500;
}

/********* CATEGORIAS *******/
.category__table{
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  padding: var(--spacing-24) 0;
  grid-template-columns: 1fr 2fr 0.5fr;
  grid-column-gap: 0px;
  text-align: left;
}

.add-product__button-container a{
  display: flex;
  align-items: center;
}

.category-container{
  margin-bottom: var(--spacing-128);
}

/******* MEDIA QUERIES ******/
@media screen and (max-width: 768px) {

    /******* HEADER ***********/
    .navbar__menu{
      flex-direction: column;
      background-color: #333;
      position: absolute;
      top: 70px;
      left: auto;
      right: 0;
      text-align: center;
      display: none;
    }

    .navbar__menu.active {
      display: block;
      z-index: 20;
      text-align: left;
    }

    .navbar__menu li {
        padding: 10px;
    }

    .navbar__logo{
      width: 50%;
    }

    .menu-toggle{
      cursor: pointer;
      display: block;
    }

    .bar {
      width: 25px;
      height: 3px;
      background-color: #fff;
      margin: 4px 0;
    }

    li.with_submenu iconify-icon{
      display: none;
    }

    .submenu, .submenu li{
      display: none;
    }

    /******** FOOTER ***********/
    footer{
        padding: var(--spacing-36) var(--spacing-24) var(--spacing-24);
    }

    footer .navbar{
        flex-direction: column-reverse;
        gap: var(--spacing-20);
        text-align: center;
    }

    footer picture.navbar__logo img{
        width: 25%;
    }
  
    .footer__copy {
        margin-top: var(--spacing-24);
    }
  /******* INDEX **************/
  .hero{
    padding: var(--spacing-16);
  }

  .collection {
    margin-top: var(--spacing-24);
  }

  .collection__title{
    font-size: var(--font-xlarge);
  }

  .collection__text{
    font-size: var(--font-medium);
    border-bottom: none;
  }

  .slider__title{
    font-size: var(--font-xlarge);
  }

  .collection__link{
    font-size: var(--font-xsmall);
  }

  .collection__content{
    text-align: center;
  }

  .collection.container{
    padding-bottom: var(--spacing-28);
    border-bottom: 2px solid var(--primary-solid);
  }

  .card-item{
    padding: var(--spacing-36);
  }
  
  /***** ITEM ******/

  .item.container{
    padding-bottom: var(--spacing-28);
    border-bottom: 2px solid var(--primary-solid);
  }

  .item-container{
    padding: var(--spacing-12);
  }

  .item{
    grid-template-columns: none;
  }

  .item__title{
    font-size: var(--font-xlarge);
  }

  .item__text{
    font-size: var(--font-medium);
  }

  .item__price{
    font-size: var(--font-large);
  }

  picture.item__cover {
    order: 2;
  }

  .slider__title{
    font-size: var(--font-large);
  }
  
  .slider__items{
    gap: var(--spacing-8);
    justify-content: space-between;
  }
  
  /*******  LOGIN   *****/
  .login-title{
    font-size: var(--font-medium);
  }

  .login-actions{
    flex-wrap: wrap;
  }

  .login-link{
    width: 100%;
  }
  
  /***** REGISTER ******/
  .register-container{
    padding: var(--spacing-16);
   }
  
   .register-title{
    font-size: var(--font-large);
   }
  
   .register-subtitle{
    font-size: var(--font-medium);
   }

  .register-item{
    justify-content: space-between;
   }

  .register-actions{
    flex-wrap: wrap;
    margin-top: 4em;
   }

   .register-submit{
    width: 100%;
   }

  /***** CREATE ******/
  .create-title{
    font-size: var(--font-medium);
   }

   .create-container {
    padding: var(--spacing-12);
   }

   .create-label,
   .create-text,
   .create-description textarea{
    font-size: var(--font-small);
   }

   .create-characteristic{
    gap: var(--spacing-16);
    flex-wrap: wrap;
   }

   .create-item{
    flex-wrap: wrap;
   }

   .create-actions{
    flex-direction: column;
    margin: var(--spacing-16);
   }

   /***** SHOP *****/
   .shop-container{
    flex-direction: column;
    margin-top: 0;
   }

   .filter-icon{
    display: block;
    cursor: pointer;
    padding: var(--spacing-16);
    font-size: var(--font-xsmall);
   }

   .shop-aside{
    max-width: 100%;
    gap: var(--spacing-12);
    align-items: normal;
    position: relative;
    text-align: right;
   }

 .aside__items {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--light-bg-solid);
    border: 1px solid var(--dark-300);
    box-shadow: 0 2px 4px var(--dark-solid);
    padding: var(--spacing-12);
    z-index: 1;
  }

  .aside__items.open {
    display: block;
    animation: slide-down 0.3s ease-in-out;
  }

  .grid__items{
    grid-template-columns: 1fr;
  }

  .aside__item{
    margin-bottom: var(--spacing-20);
  }

  .aside-filtrar__container{
    text-align: left;
  }

  .grid__item{
    padding-bottom: var(--spacing-28);
    border-bottom: 2px solid var(--primary-solid);
  }

  /***** ADMIN ******/
  .admin__container{
    padding: var(--spacing-12);
  }

  .search-product__input{
    width: 100%;
  }

  .add-product__container{
    flex-direction: column;
  }

  .add-product__title {
    font-size: var(--font-large);
  }

  .add-product__legend{
    padding: 0 var(--spacing-12) 0 0;
    font-size: var(--font-medium);
  }

  .add-product__button-container{
    padding: var(--spacing-16) 0;
  }

  .product__table__actions {
    text-align: left;
    display: flex;
    justify-content: start;
    gap: 0;
  }

  .product__table{
    padding: 0;
    overflow-x: auto;
    font-size: 62.5%;
    grid-template-columns: minmax(50px, 0.1fr) 
    minmax(100px, 1fr) 
    minmax(100px, 2fr)
    minmax(100px, 1fr) 
    minmax(120px, 0.5fr);
  }

  /****** CART ******/
  .carrito__content-title{
    display: none;
  }

  .carrito-title{
    font-size: var(--font-xlarge);
    margin: var(--spacing-12);
  }

  .carrito__item{
    order: 2;
  }

  .carrito__item-quantity{
    order: 3;
  }

  .carrito__item-price{
    order: 4;
  }

  .carrito__trash{
    order: 1;
  }

  .pay__container{
    display: block;
    margin: var(--spacing-36) var(--spacing-12);
  }

  .pay__checkout{
    text-align: left;
  }

  .pay__title{
    font-size: var(--font-xlarge);
  }

  .pay__content{
    padding: var(--spacing-8);
    font-size: var(--font-small);
  }

  .pay__link{
    font-size: var(--font-small);
  }

  .carrito__content{
    margin: var(--spacing-36) var(--spacing-12);
    box-shadow: var(--spacing-8) var(--spacing-8) var(--spacing-16) lightgrey;
    display: flex;
    flex-direction: column;
  }

  .carrito__content-title{
    display: none;
  }
}

/*******  ANIMATIONS   *****/
@keyframes fade{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
      transform: translateY(-10px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes slide-down {
  0% {
      transform: translateY(-10px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes slide-down {
  0% {
      transform: translateY(-10px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}
