<main class="create-container container category-container">
  <h1 class="create-title">EDITAR CATEGORÍA</h1>
  <% if (typeof errors != 'undefined') { %>
  <ul class="list-errors">
    <% errors.forEach(error => { %>
    <li><%= error.msg %></li>
    <% }) %>
  </ul>
  <% } %>
  <form
    class="edit-form"
    action="/category/edit/<%= values.id%>?_method=PUT"
    method="post"
  >
    <section class="create-item">
      <label class="create-label" for="nombre">Nombre de la categoría:</label>
      <input
        class="create-text"
        type="text"
        name="nombre"
        id="nombre"
        required
        placeholder="STAR WARS"
        value="<%= typeof values != 'undefined' ? values.nombre : '' %>"
        minlength="3"
      />
    </section>
    <section class="create-actions">
      <input class="create-link" type="submit" value="Modificar Categoría" />
    </section>
  </form>
</main>
<%- contentFor('title') %> Edición Categoría - Funkoshop
