<main class="no-find-container container">
  <h1 class="no-find-title"><%= titulo %></h1>
  <p class="no-find-text">
    Lo sentimos, la página que estás buscando no se pudo encontrar.
  </p>
</main>
