<main class="error__container">
  <h1 class="error-title">Error 500 - Error interno del servidor</h1>
  <p class="error-texts">
    Lo sentimos, algo salió mal en el servidor. Estamos trabajando para
    solucionarlo. Por favor, inténtalo de nuevo más tarde.
  </p>
  <textarea readonly="" class="error-textarea"><%= mensaje_error %></textarea>
  <p class="error-link">
    <a href="/">Volver a la página de inicio</a>
  </p>
</main>
<%- contentFor('title') %> Error 500 - Funkoshop
