<main class="no-find-container container">
  <h1 class="no-find-title">Términos y Condiciones de Funkoshop</h1>
  <ul class="terminosCondiciones">
    <li class="terminosCondiciones__title">1. Condiciones de Uso</li>
    <li class="terminosCondiciones__title">1.1 Elegibilidad</li>
    <li>
      El uso de este sitio web y la realización de compras en nuestra tienda de
      funkos están sujetos a la aceptación de estos términos y condiciones. Al
      acceder y utilizar nuestro sitio, usted acepta cumplir con estos términos.
    </li>

    <li class="terminosCondiciones__title terminosCondiciones__item">
      2. Reglas de la Tienda
    </li>
    <li class="terminosCondiciones__title">2.1 Proceso de Compra</li>
    <li>
      Para realizar una compra, los usuarios deben seguir el proceso de compra
      indicado en el sitio web. Nos reservamos el derecho de rechazar o cancelar
      pedidos en cualquier momento.
    </li>

    <li class="terminosCondiciones__title terminosCondiciones__item">
      2.2 Devoluciones y Reembolsos
    </li>
    <li>
      Consulte nuestra política de devoluciones y reembolsos disponible en el
      sitio web para obtener información detallada sobre el proceso y los
      requisitos.
    </li>

    <li class="terminosCondiciones__title terminosCondiciones__item">
      3. Cuentas de Usuario
    </li>
    <li class="terminosCondiciones__title">3.1 Creación de Cuentas</li>
    <li>
      Los usuarios pueden tener la opción de crear una cuenta en nuestro sitio.
      Es responsabilidad del usuario mantener la confidencialidad de la
      información de la cuenta y tomar medidas para garantizar la seguridad.
    </li>

    <li class="terminosCondiciones__title terminosCondiciones__item">
      4. Privacidad
    </li>
    <li>
      Consulte nuestra Política de Privacidad para obtener información sobre
      cómo recopilamos, utilizamos y protegemos la información personal.
    </li>

    <li class="terminosCondiciones__title terminosCondiciones__item">
      5. Propiedad Intelectual
    </li>
    <li class="terminosCondiciones__title">5.1 Derechos de Autor</li>
    <li>
      Todo el contenido en este sitio web está protegido por derechos de autor.
      No se permite la reproducción sin autorización.
    </li>

    <li class="terminosCondiciones__title terminosCondiciones__item">
      5.2 Marcas Registradas
    </li>
    <li>
      Las marcas registradas y logotipos son propiedad de sus respectivos
      dueños.
    </li>

    <li class="terminosCondiciones__title terminosCondiciones__item">
      6. Responsabilidad Legal
    </li>
    <li class="terminosCondiciones__title">6.1 Exención de Responsabilidad</li>
    <li>
      Nos esforzamos por proporcionar información precisa, pero no garantizamos
      la precisión ni nos hacemos responsables de errores u omisiones.
    </li>

    <li class="terminosCondiciones__title terminosCondiciones__item">
      6.2 Limitación de Responsabilidad
    </li>
    <li>
      No nos hacemos responsables de pérdidas o daños derivados del uso de
      nuestro sitio o productos.
    </li>

    <li class="terminosCondiciones__title terminosCondiciones__item">
      7. Normas de Conducta del Usuario
    </li>
    <li class="terminosCondiciones__title">7.1 Comportamiento del Usuario</li>
    <li>
      Los usuarios deben cumplir con normas éticas y no participar en
      actividades ilegales o inapropiadas en el sitio.
    </li>

    <li class="terminosCondiciones__title terminosCondiciones__item">
      8. Comunicación
    </li>
    <li class="terminosCondiciones__title">
      8.1 Contacto con Servicio al Cliente
    </li>
    <li>
      Para cualquier pregunta o inquietud, comuníquese con nuestro servicio al
      cliente a través de los canales indicados en el sitio.
    </li>

    <li class="terminosCondiciones__title terminosCondiciones__item">
      8.2 Notificación de Cambios
    </li>
    <li>
      Nos reservamos el derecho de modificar estos términos en cualquier
      momento. Los cambios entrarán en vigencia al ser publicados en el sitio.
    </li>

    <li class="terminosCondiciones__title terminosCondiciones__item">
      9. Disposiciones Legales
    </li>
    <li class="terminosCondiciones__title">9.1 Ley Aplicable</li>
    <li>
      Estos términos y condiciones están regidos por las leyes del [país] y
      cualquier disputa estará sujeta a la jurisdicción de los tribunales de
      [ciudad].
    </li>

    <li class="terminosCondiciones__title terminosCondiciones__item">
      9.2 Resolución de Conflictos
    </li>
    <li>
      Cualquier disputa será sometida a mediación antes de recurrir a acciones
      legales.
    </li>
  </ul>
</main>
<%- contentFor('title') %> Términos y condiciones - Funkoshop
