<main class="item-container">
  <section class="item container">
    <picture class="item__cover">
      <img alt="baby yoda" src="/img/star-wars/baby-yoda-1.webp" />
    </picture>
    <article class="item__content">
      <p class="item__licence">Star Wars</p>
      <h3 class="item__title">BABY YODA BLUEBALL</h3>
      <p class="item__text">
        Figura coleccionable de Baby Yoda (Grogu) - The Mandalorian Saga,
        edición limitada.
      </p>
      <p class="item__price">$ 1799,99</p>
      <div class="item__cart">
        <button id="subtract" class="item__quantity" type="button">-</button>
        <input
          class="item__input"
          type="text"
          id="quantity"
          name="quantity"
          placeholder="0"
          disabled
        />
        <button id="add" class="item__quantity" type="button">+</button>
        <button class="item__submit btn-primary btn-medium btn" type="submit">
          Agregar al Carrito
        </button>
      </div>
      <p class="item__promo">
        <a>Ver métodos de pago</a> - 3 CUOTAS SIN INTERÉS
      </p>
    </article>
  </section>
  <%- include('../partials/slider', { titulo: 'productos relacionados' }) %>
</main>
<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script src="/js/glide.js"></script>
<script src="/js/item.js"></script>
