<main class="container shop-container">
  <%- include('../partials/filters') %>
  <div class="shop-collection">
    <section class="grid__items">
      <% items.forEach(item => { %> <%- include('../partials/item', {item}) %>
      <% }) %>
    </section>
    <form action="#">
      <button type="button"><i class="fa-solid fa-angle-left"></i></button>
      <button type="button">1</button>
      <button type="button">2</button>
      <button type="button">...</button>
      <button type="button">9</button>
      <button type="button">10</button>
      <button type="button"><i class="fa-solid fa-angle-right"></i></button>
    </form>
  </div>
</main>
<script src="/js/shop.js"></script>
