<header>
  <nav class="navbar container">
    <picture class="navbar__logo">
      <a href="/">
        <img
          src="/img/branding/logo_light_horizontal.svg"
          alt="Logotipo de Funko Shop"
        />
      </a>
    </picture>
    <div class="menu-toggle" id="menu-toggle">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <ul class="navbar__menu">
      <li>
        <a class="navbar__link" href="/">INICIO</a>
      </li>
      <li class="navbar__item with_submenu">
        <a class="navbar__link with_icon" href="/product"
          >ADMIN <iconify-icon icon="ion:chevron-down"></iconify-icon
        ></a>
        <ul class="submenu">
          <li class="submenu__item">
            <a href="/category" class="submenu__link">CATEGORIAS</a>
          </li>
          <li class="submenu__item">
            <a href="/licence" class="submenu__link">LICENCIAS</a>
          </li>
          <li class="submenu__item">
            <a href="/product" class="submenu__link">PRODUCTOS</a>
          </li>
        </ul>
      </li>
      <li>
        <a class="navbar__link" href="/auth/logout">SALIR</a>
      </li>
    </ul>
  </nav>
</header>
