<header>
  <nav class="navbar container">
    <picture class="navbar__logo">
      <a href="/">
        <img
          src="/img/branding/logo_light_horizontal.svg"
          alt="Logotipo de Funko Shop"
        />
      </a>
    </picture>
    <div class="menu-toggle" id="menu-toggle">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <ul class="navbar__menu">
      <li>
        <a class="navbar__link" href="/product">PRODUCTOS</a>
      </li>
      <li>
        <a class="navbar__link" href="/category">CATEGORIAS</a>
      </li>
      <li>
        <a class="navbar__link" href="#">SALIR</a>
      </li>
    </ul>
  </nav>
</header>
