<header>
  <nav class="navbar container">
    <picture class="navbar__logo">
      <a href="/">
        <img
          src="/img/branding/logo_light_horizontal.svg"
          alt="Logotipo de Funko Shop"
        />
      </a>
    </picture>
    <div class="menu-toggle" id="menu-toggle">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <ul class="navbar__menu">
      <li class="navbar__item with_submenu">
        <a class="navbar__link with_icon" href="/shop/"
          >SHOP <iconify-icon icon="ion:chevron-down"></iconify-icon
        ></a>
        <ul class="submenu">
          <li class="submenu__item">
            <a href="/shop" class="submenu__link">Funkos</a>
          </li>
          <li class="submenu__item">
            <a href="/shop?category=3" class="submenu__link">Harry Potter</a>
          </li>
          <li class="submenu__item">
            <a href="/shop?category=2" class="submenu__link">Pokemon</a>
          </li>
          <li class="submenu__item">
            <a href="/shop?category=1" class="submenu__link">Star Wars</a>
          </li>
        </ul>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" href="#">CONTACTO</a>
      </li>
      <li>
        <a class="navbar__link" href="/auth/login">LOGIN</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__cart navbar__link" href="/shop/cart">
          <img src="/img/icons/cart-icon.svg" alt="ícono de carrito" />
        </a>
      </li>
    </ul>
  </nav>
</header>
