    <main class="create-container container"></mainclass>
        <h1 class="create-title">EDITAR ITEM</h1>
        <form 
            class="edit-form"
            action=""
            method="post"
            enctype="multipart/form-data">
            <section class="create-characteristic">
                <div class="create-item">
                  <label class="create-label" for="categoria">Categoría</label>
                  <select name="categoria" id="categoria">
                    <option value="">Seleccionar</option>
                    <option value="figuras" selected>Figuras</option>
                    <option value="llaveros">Llaveros</option>
                    <option value="remeras">Remeras</option>
                  </select>
                </div>
                <div class="create-item">
                  <label class="create-label" for="licencia">Licencia</label>
                  <select name="licencia" id="licencia">
                    <option value="">Seleccionar</option>
                    <option value="naruto" selected>Naruto Shippuden</option>
                    <option value="starWars">Star Wars</option>
                    <option value="pokemon">Pokemon</option>
                    <option value="harryPotter">Harry Potter</option>
                  </select>
                </div>
              </section>
              <section class="create-item">
                <label class="create-label" for="nombre-producto"
                  >Nombre del producto:</label
                >
                <input
                  class="create-text"
                  type="text"
                  name="nombre-producto"
                  id="nombre-producto"
                  required
                  placeholder="Kakashi Hatake Shippuden Saga"
                />
              </section>
              <section class="create-description">
                <textarea
                  name="descripcion"
                  id="descripcion"
                  rows="10"
                  placeholder="Figura Funko coleccionable de Kakashi Hatake de la saga Naruto Shipudden invocando chidori."
                ></textarea>
              </section>
              <section class="create-characteristic">
                <div class="create-item">
                  <label class="create-label" for="sku">SKU:</label>
                  <input
                    class="create-text"
                    type="text"
                    name="sku"
                    id="sku"
                    placeholder="NAR001012"
                    required
                  />
                </div>
                <div class="create-item">
                  <label class="create-label" for="precio">Precio:</label>
                  <input
                    class="create-text"
                    type="number"
                    name="precio"
                    id="precio"
                    required
                    placeholder="$ 1.799,00"
                  />
                </div>
                <div class="create-item">
                  <label class="create-label" for="stock">Stock:</label>
                  <input
                    class="create-text"
                    type="text"
                    name="stock"
                    id="stock"
                    placeholder="10"
                    required
                  />
                </div>
              </section>
              <section class="create-characteristic">
                <div class="create-item">
                  <label class="create-label" for="descuento">Descuento:</label>
                  <input
                    class="create-text"
                    type="text"
                    name="descuento"
                    id="descuento"
                    placeholder="10%"
                    required
                  />
                </div>
                <div class="create-item">
                  <label class="create-label" for="cuotas">Cuotas:</label>
                  <select name="cuotas" id="cuotas">
                    <option value="">Seleccionar</option>
                    <option value="3">3 cuotas sin interés</option>
                    <option value="6">6 cuotas sin interés</option>
                    <option value="12">12 cuotas sin interés</option>
                  </select>
                </div>
              </section>
              <section class="create-item">
                <label class="create-label" for="imagenes">Imágenes:</label>
                <input
                  type="file"
                  id="imagenes"
                  name="imagenes[]"
                  required
                  multiple
                />
              </section>
                <section class="edit-package__container">
          <div class="edit-package">
            <picture class="edit-cover">
              <img
                alt="kakashi hatake front"
                src="../img/naruto/kakashi_hatake_front.png"
              />
              <figcaption>Frente</figcaption>
            </picture>
          </div>
          <div class="edit-package">
            <picture class="edit-cover">
              <img
                alt="kakashi hatake back"
                src="../img/naruto/kakashi_hatake_back.png"
              />
              <figcaption>Dorso</figcaption>
            </picture>
          </div>
        </section>
              <section class="create-actions">
                <input class="create-link" type="submit" value="Modificar Producto" />
              </section>
        </form>
    </main>