<main class="login-container container">
  <h1 class="login-title">INGRESAR A MI CUENTA</h1>
  <% if (typeof errors != 'undefined') { %>
  <ul>
    <% errors.forEach(error => { %>
    <li><%= error.msg %></li>
    <% }) %>
  </ul>
  <% } %>
  <form class="login-form" action="/auth/login" method="post">
    <div class="login-item">
      <label class="login-label" for="email">Email:</label>
      <input
        class="login-text"
        type="email"
        name="email"
        id="email"
        placeholder="johndoe@correo.com"
        required
        value="<%= typeof values != 'undefined' ? values.email : '' %>"
      />
    </div>
    <div class="login-item">
      <label class="login-label" for="password">Contraseña:</label>
      <input
        class="login-text"
        type="password"
        name="password"
        id="password"
        required
      />
    </div>
    <div class="login-actions">
      <input class="login-link" type="submit" value="Ingresar" />
      <div class="login-remember">
        <input type="checkbox" name="recordar" id="recordar" />
        <label class="login-label" for="recordar">Recordarme</label>
      </div>
    </div>
  </form>
  <div class="login-recovery">
    <a href="#">Olvidé mi contraseña</a>
  </div>
</main>
<%- contentFor('title') %> Login - Funkoshop
